In [1]:
import pandas as pd
import bs4 as bs
import urllib.request
import yfinance as yf

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

source = urllib.request.urlopen(url).read()

soup = bs.BeautifulSoup(source, 'lxml')

table = soup.find('table', {'id': 'constituents'})

sp500_ticker = []
sp500_name = []
sp500_gics_sector = []
sp500_gics_sub_industry = []

for row in table.find_all('tr')[1:]:
    cells = row.find_all('td')[:4]
    sp500_ticker.append(cells[0].text.strip())
    sp500_name.append(cells[1].text.strip())
    sp500_gics_sector.append(cells[2].text.strip())
    sp500_gics_sub_industry.append(cells[3].text.strip())

print(len(sp500_ticker))
print(len(sp500_name))
print(len(sp500_gics_sector))
print(len(sp500_gics_sub_industry))

503
503
503
503

In [3]:
data = {'ticker': sp500_ticker, 'name': sp500_name, 'sector': sp500_gics_sector, 'industry': sp500_gics_sub_industry}

spx = pd.DataFrame(data=data)
spx

,ticker,name,sector,industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Biotechnology
4,ACN,Accenture,Information Technology,IT Consulting & Other Services
...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
502,ZTS,Zoetis,Health Care,Pharmaceuticals