In [1]:
import pandas as pd
import bs4 as bs
import urllib.request
import yfinance as yf
from datetime import datetime

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

source = urllib.request.urlopen(url).read()

soup = bs.BeautifulSoup(source, 'lxml')

table = soup.find('table', {'id': 'constituents'})

sp500_ticker = []
sp500_name = []
sp500_gics_sector = []
sp500_gics_sub_industry = []

for row in table.find_all('tr')[1:]:
    cells = row.find_all('td')[:4]
    sp500_ticker.append(cells[0].text.strip())
    sp500_name.append(cells[1].text.strip())
    sp500_gics_sector.append(cells[2].text.strip())
    sp500_gics_sub_industry.append(cells[3].text.strip())

print(len(sp500_ticker))
print(len(sp500_name))
print(len(sp500_gics_sector))
print(len(sp500_gics_sub_industry))

503
503
503
503

In [3]:
data = {'ticker': sp500_ticker, 'name': sp500_name, 'sector': sp500_gics_sector, 'industry': sp500_gics_sub_industry}

spx = pd.DataFrame(data=data)
spx

,ticker,name,sector,industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Biotechnology
4,ACN,Accenture,Information Technology,IT Consulting & Other Services
...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
502,ZTS,Zoetis,Health Care,Pharmaceuticals

In [ ]:
start_date = '1990-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')

spx_price = pd.DataFrame(columns=sp500_ticker)

for ticker in sp500_ticker:
    spx_price[ticker] = yf.download(ticker, start_date, end_date)['Adj Close']

In [5]:
spx_price_1y = spx_price.iloc[len(spx_price)-252:len(spx_price)+1]
spx_price_1y

,MMM,AOS,ABT,ABBV,ACN,ADBE,AMD,AES,AFL,A,...,WY,WMB,WTW,WYNN,XEL,XYL,YUM,ZBRA,ZBH,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2023-11-09 00:00:00+00:00,73.343582,70.235695,91.719635,133.171860,309.248688,577.739990,113.489998,15.012646,79.140388,107.184708,...,28.888186,33.214104,235.773727,89.646080,56.520496,95.718010,122.290672,202.520004,103.487679,168.956635
2023-11-10 00:00:00+00:00,74.231377,71.662651,92.131409,133.702484,314.632172,597.219971,118.589996,15.079881,79.707771,107.910957,...,29.276596,33.252239,237.803177,84.543221,57.001934,97.339355,123.506615,206.179993,104.779785,167.659485
2023-11-13 00:00:00+00:00,74.135399,72.213753,93.915810,133.750748,310.636383,590.340027,116.790001,14.926201,79.658852,106.906151,...,28.965868,33.299904,241.089920,83.603745,56.106461,97.388779,122.879028,202.610001,105.177353,167.174271
2023-11-14 00:00:00+00:00,75.959000,74.811783,95.180573,133.191177,315.419495,604.330017,119.879997,16.270903,80.455345,111.034767,...,30.713720,33.643105,239.911850,86.155174,58.061089,100.048164,125.055969,215.660004,107.413689,170.956818
2023-11-15 00:00:00+00:00,77.438667,73.807999,96.082565,132.747406,320.350220,595.309998,118.000000,16.338137,79.078697,113.014503,...,30.801117,33.728905,239.020844,86.491402,57.858891,99.099083,124.163628,216.960007,109.828926,172.907501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-04 00:00:00+00:00,125.849998,75.139999,117.650002,200.470001,343.899994,481.350006,140.710007,15.230000,104.510002,139.649994,...,31.709999,52.139999,302.820007,95.650002,65.820000,120.839996,132.759995,377.019989,108.410004,175.179993
2024-11-05 00:00:00+00:00,126.519997,75.919998,117.730003,201.679993,345.489990,486.420013,141.660004,15.510000,105.559998,140.410004,...,31.870001,53.049999,307.920013,86.720001,66.330002,122.260002,134.720001,379.690002,108.919998,175.270004
2024-11-06 00:00:00+00:00,133.919998,76.209999,116.800003,201.199997,356.130005,504.829987,145.100006,14.200000,108.559998,137.779999,...,31.420000,55.330002,317.309998,85.320000,66.489998,123.730003,134.369995,394.019989,110.169998,170.369995
2024-11-07 00:00:00+00:00,133.070007,76.029999,115.300003,200.509995,360.709991,500.920013,149.820007,13.650000,107.440002,139.630005,...,31.740000,55.439999,315.899994,87.169998,66.199997,123.660004,137.059998,397.179993,108.690002,174.250000
2024-11-08 00:00:00+00:00,134.339996,74.860001,116.589996,199.500000,355.529999,494.679993,147.949997,13.600000,108.269997,136.679993,...,31.889999,56.310001,316.299988,84.300003,67.370003,124.370003,137.210007,399.309998,108.180000,176.820007

In [12]:
(spx_price_1y.iloc[251] / spx_price_1y.iloc[0]).sort_values(ascending=False)[:20]

VST     4.164107
PLTR    3.195950
NVDA    3.145360
AXON    2.796384
KKR     2.464446
RCL     2.438407
FICO    2.422655
TRGP    2.349466
UAL     2.344855
HWM     2.337925
SYF     2.237335
NRG     2.182928
DFS     2.166180
NCLH    2.141066
GM      2.108494
IRM     2.098148
GE      2.059084
GDDY    2.049320
AVGO    2.046015
URI     2.014504
dtype: float64

In [17]:
spx_price.pct_change(periods=252).median().sort_values(ascending=False)[:50]

C:\Users\skcha\AppData\Local\Temp\ipykernel_2008\3109581148.py:1: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  spx_price.pct_change(periods=252).median().sort_values(ascending=False)[:50]

CEG     0.612799
CRWD    0.541450
VLTO    0.515296
PLTR    0.473573
NFLX    0.469641
NVDA    0.414975
ENPH    0.406822
NOW     0.392748
AVGO    0.387394
CMG     0.373258
ANET    0.372260
TDG     0.369603
PAYC    0.364742
EPAM    0.361859
UBER    0.355225
MPWR    0.349256
META    0.326470
MPC     0.321853
CZR     0.308481
DPZ     0.307305
DELL    0.306911
PANW    0.298148
AAPL    0.294917
GNRC    0.289329
TRGP    0.283040
AMZN    0.282570
POOL    0.279790
CARR    0.279610
FICO    0.278404
LRCX    0.274206
CHTR    0.273432
ISRG    0.272478
CDW     0.271854
FTNT    0.268837
CRM     0.262357
ULTA    0.260543
MA      0.259277
UNH     0.255977
IDXX    0.249493
RMD     0.248930
IR      0.248453
NXPI    0.242167
MSCI    0.241845
MKTX    0.241717
URI     0.241447
ORLY    0.241005
AXON    0.237321
KKR     0.235635
CPRT    0.234649
APH     0.234450
dtype: float64